/* Header CSS Starts Here */
header {
    position: fixed;
    display: grid;
    grid-template-columns: fit-content(50px) auto fit-content(470px) 200px;
    grid-template-rows: auto;
    grid-gap: 0px;
    height: 5em;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color:rgb(181, 220, 255);
    color:black;
    top: 0;
    z-index: 999;
}

.grid_item1 { 
    max-height: 50px;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-content: center;
    align-content: top;
}

.grid_item2 {
    padding-left: 10px;
    max-height: 50px;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em);
    grid-template-rows: 50% 50%;
    grid-gap: 0px;
    margin-top: 1%;
}

.grid_item3 {
    padding-right: 3px;
    padding-left: 4px;
    max-height: 50px;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-content: right;
    margin-top: 2.6%;
}

.grid_item4 {
    padding-right: 2px;
    padding-left: 2px;
    max-height: 50px;
    grid-column-start: 4;
    grid-column-end: 4;
    justify-content: right;
    margin-top: 3%;
}

#logo {
    height: 100%;
    margin: 0px 0px 0px 0px;
}


#FAQ {
    cursor: pointer;
    height: 80%;
    margin: 0px 0px 0px 0px;
}


#archive {
    cursor: pointer;
    height: 80%;
    margin: 0px 0px 0px 0px;
}
#close{
    cursor: pointer;
    width: 15%;
    margin-left: 145px;
    margin-top: -40px;
}

#edit{
    cursor: pointer;
    height: 10%;
    margin: 0px 0px 0px 0px;   
    position: fixed;
    right: 50px;
    bottom: 55px;
}

#search{
    cursor: pointer;
    height: 80%;
    margin: 0px 0px 0px 0px;
}

#clear{
    cursor: pointer;
    height: 80%;
    margin: 0px 0px 0px 0px;
}

/* Dates Overview CSS Starts Here */
#dates_grid_item21 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item22 {
    height: 85%;
    width:85%;
    border-radius: 20%;
    background-color: #3d9970;
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}


#dates_grid_item23 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item24 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item25 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item26 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item27 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item11 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item12 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item13 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item14 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item15 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item16 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item17 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}
/* Dates Overview CSS Ends Here */
/* Header CSS Ends Here */

/* Body CSS Begins Here */
body {
    margin: 0px 0px 0px 0px;
}

#column_view {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    height: 85vh;
    max-height: 100vh;
    margin-bottom: 0px;
}
#archive_view{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    height: 85vh;
    max-Height: 100vh;
    margin-bottom: 0px;
}

.box {
    display: grid;
    grid-template-rows: fit-content(100px) auto;
    grid-gap: 0px;
    width: 30%;
    height: 98%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}

#box_c_standard{
    height: 85%; 
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0px;
    position: relative;
    text-align: center;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    border-radius: 15px;
}

.column_grid_h1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.column_grid_h2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.column_grid_h3 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#hp_bullets {
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow-y: auto;
}

#lp_bullets {
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow-y: auto;
}

#c_bullets {
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow-y: auto;
}

#high_priority_header {
    background-color:lightpink;
}

#low_priority_header {
    background-color:lightgoldenrodyellow;
}

#complete_header {
    background-color:lightgreen;
}


.hidden {
	display:none;
}
/* Editor CSS Begins Here*/
#editor {
    position: fixed;
    bottom: 10px;
    display: grid;
    padding: 2px 2px 2px 2px;
    grid-template-columns: 100px auto 160px;
    grid-template-rows: auto;
    grid-gap: 0px;
    width: 98%;
    height: 15%;
    min-height: 95px;
    border-radius: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-left: .65%;
    border-color: rgb(109, 182, 247);
    background-color:rgb(181, 220, 255);
    color:black;
    border-radius: 15px;
}

#editor_text{
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(138, 199, 252);
    height: 85%;
    max-height: 13vh;
    width: 100%;
    max-width: 100%;
    margin: 5px 5px 5px 0px;
    background-color: rgb(204, 231, 255);
    overflow-y: auto;
    overflow-x: auto;
}

.grid2_item1 { 
    padding: 5px 5px 5px 5px;
    width: 100px;
    grid-column-start: 1;
    grid-column-end: 1;
}

.grid2_item2 { 
    grid-column-start: 2;
    grid-column-end: 2;
    padding-left: 15px;
    padding-right: 15px;
}

.grid2_item3 { 
    grid-column-start: 3;
    grid-column-end: 3;
    padding: 5px 5px 5px 5px;
}

/* Ediitng modal content and labels coloring*/

#assign_date{
    margin-top: -25px;
}

.label_list{
  margin-top: 5%;
}

.label {
   
  color: white;
  padding: 8px;
  font-family: Arial;
}
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray *
/* Editor CSS Ends Here */
/* Body CSS Ends Here */
