/* Scrollbar CSS Starts Here */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: LightGrey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}
/* Scrollbar CSS Ends Here */

/* Header CSS Starts Here */
header {
    position: fixed;
    display: grid;
    grid-template-columns: fit-content(50px) auto fit-content(470px) 200px;
    grid-template-rows: auto;
    grid-gap: 0px;
    height: 61px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color:rgb(181, 220, 255);
    color:black;
    top: 0;
    z-index: 999;
}

#textarea {
    width:100%;
}

.logo_grid_item1 {
    max-height: 50px;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-content: center;
    align-content: top;
}

.dates_grid_item2 {
    padding-left: 10px;
    max-height: 50px;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em);
    grid-template-rows: 50% 50%;
    grid-gap: 0px;
    margin-top: 3px;
}

.buttons_grid_item3 {
    padding-right: 2px;
    padding-left: 2px;
    max-height: 50px;
    grid-column-start: 4;
    grid-column-end: 4;
    justify-content: right;
    margin-top: 4px;
}

#logo {
    height: 100%;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    cursor: pointer;
}

#search_off {
    cursor: pointer;
    height: 75%;
    margin: 0px 0px 0px 0px;
}

#search_on {
    cursor: pointer;
    height: 82%;
    margin: 0px 0px 0px 0px;
    display: none;
}

#FAQ {
    cursor: pointer;
    height: 85%;
    margin: 0px 0px 0px 0px;
}

#archive {
    cursor: pointer;
    height: 80%;
    margin: 0px 0px 0px 0px;
}

#close {
    cursor: pointer;
    width: 15%;
    margin-left: 135px;
    margin-top: -24px;
}

#edit {
    cursor: pointer;
    height: 10%;
    margin: 0px 0px 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 3%;
}

#clear {
    cursor: pointer;
    height: 73%;
    margin: 0px 3px 0px 0px;
}

#FAQ:hover {
    transform: scale(1.1);
}

#archive:hover {
    transform: scale(1.1);
}

#close:hover {
    transform: scale(1.1);
}

#edit:hover {
    transform: scale(1.1);
}

#clear:hover {
    transform: scale(1.1);
}

#search_off:hover {
    transform: scale(1.1);
}

#logo:hover {
    transform: scale(1.1);
}

/* Dates Overview CSS Starts Here */
#dates_grid_item21 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item22 {
    height: 85%;
    width:85%;
    border-radius: 20%;
    background-color: LightYellow;
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item23 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item24 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item25 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item26 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item27 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#dates_grid_item11 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item12 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item13 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item14 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item15 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item16 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#dates_grid_item17 {
    padding-left: 3px;
    padding-right: 3px;
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}
/* Dates Overview CSS Ends Here */

/* Theme CSS Starts Here */
.dropdown {
    position: relative;
    display: inline-block;
}

#color1 {
    background-color: #B53A27;
    color: #F0F0F0;
}

#color2 {
    background-color: #FFFFFF;
}

#color3 {
    background-color: #C69214;
}

#color4 {
    background-color: #1A1D21;
    color: #F0F0F0;
}

#color5 {
    background-color: #46B1C9;
}

#color6 {
    background-color: #745db3;
    color: #F0F0F0;
}

#color7 {
    background-color: rgb(238, 223, 203);
}

.dropdown_content a:hover {
    filter: brightness(0.9);
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_content {
    display: block;
}
/* Theme CSS Ends Here */

/* Header CSS Ends Here */

/* Body CSS Begins Here */
body {
    margin: 0px 0px 0px 0px;
}

#search_mode_header{
    display: block;
    margin-top: 69px;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    height: 3vh;
    max-height: 6vh;
    margin-bottom: -72px;
    display: none;
    background-color:#aca7a7;
    border-radius: 50px;
    margin-left: 4.2%;
    margin-right: 4.2%;
    min-height: 29px;
}

#column_view {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    height: 85vh;
    max-height: 100vh;
    margin-bottom: 0px;
}

#archive_view{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    height: 85vh;
    max-Height: 100vh;
    margin-bottom: 0px;
    display: none;
}

#archive_header {
    width: 90vw;
}

#a_bullets {
    width: 90vw;
    height: 90%;
    overflow-y: auto;
}

.box {
    display: grid;
    grid-template-rows: fit-content(100px) auto;
    grid-gap: 0px;
    width: 30%;
    height: 98%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}

#box_c_standard{
    height: 85%;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0px;
    position: relative;
    text-align: center;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    border-radius: 15px;
}

#clear_archive {
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    width: 23px;
    display: inline;
    margin-bottom: 5px;
}

#clear_archive:hover {
    transform: scale(1.1);
}

.column_grid_h1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.column_grid_h2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.column_grid_h3 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#hp_bullets {
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow-y: auto;
}

#lp_bullets {
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow-y: auto;
}

#c_bullets {
    align-content: flex-start;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow-y: auto;
}

#high_priority_header {
    background-color:lightpink;
}

#low_priority_header {
    background-color:lightgoldenrodyellow;
}

#complete_header {
    background-color:lightgreen;
}

/* Editor CSS Begins Here */
.hidden {
	display: none;
}

#editor {
    position: fixed;
    bottom: 10px;
    display: grid;
    padding: 2px 2px 2px 2px;
    grid-template-columns: 1fr 160px;
    grid-template-rows: auto;
    grid-gap: 0px;
    width: 98%;
    height: 98px;
    border-radius: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-left: .65%;
    border-color: rgb(109, 182, 247);
    background-color:rgb(181, 220, 255);
    color:black;
    border-radius: 15px;
}

#editor_text{
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(138, 199, 252);
    height: 85%;
    max-height: 77px;
    width: 100%;
    max-width: 100%;
    margin: 2.5px 5px 5px 0px;
    background-color: rgb(204, 231, 255);
    overflow-y: auto;
    overflow-x: auto;
}

.editor_grid2_item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: 15px;
    padding-top: 4px;
    padding-right: 15px;
    min-width: 50px;
}

.editor_grid2_item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 8px 5px 5px 5px;
}

.label_list {
    margin-top: 5%;
}

.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}
/* Editor CSS Ends Here */

/* Edit Modal CSS Starts Here */
#assign_date {
    margin-top: -25px;
}

#edit_bullet_id {
    display: none;
}

#edit_task_field {
    display: none;
}

#edit_comp_time {
    display: none;
}

#edit_modal textarea {
    resize: none;
}
/* Edit Modal CSS Ends Here */

/* FAQ CSS Starts Here */
#header_faq {
    padding: 10px;
}

.faq_image {
    display: inline-block;
    height: 1em;
}

#title_faq {
    text-align: center;
    margin-top: 5px;
}

#FAQ_modal_label {
    width: 30px;
}

#close_faq {
    margin-top: 6px;
}
/* FAQ CSS Ends Here */

/* Modal CSS Starts Here */
.modal-content {
    width: 99.9%;
}

.modal-header {
    border-radius: 4.2px 4.2px 0px 0px;
}

.modal-footer {
    border-radius: 0px 0px 4.2px 4.2px;
}

/* Modal CSS Ends Here */

/* Body CSS Ends Here */
